Django==6.0.2
django-cors-headers==4.9.0
whitenoise==6.4.0

# Optional/data-processing
ortools==9.8.3296
pandas==2.1.4

# Dev / config
python-dotenv==1.0.0
djangorestframework==3.14.0
djangorestframework-simplejwt==2.9.0
